* {
    font-size: xx-large;
}

body {
    background-image: url('https://wallpapers.com/images/hd/blue-and-red-background-1920-x-1200-dhh3ckueuz5ttcm1.jpg');
}

.main-head {
    color:bisque;
    text-align: center;
}

.intro {
    color: azure;
    text-align: center;
}

.head {
    color:aliceblue;
    text-decoration: underline;
}


a:hover {
    color:blueviolet;
}

.top-bar {
    background-color:darkcyan;
    width: 2000px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.50;
}